.newsong {
  margin-left: -9px;
  letter-spacing: -7px;
}

.goback {
  padding: 0px 10px 0px 4px;
  letter-spacing: 1px;
  margin-top: 10px; 
}

.collection-item {
  display: flex;
  justify-content: space-between;
}

.material-icons{
  cursor: pointer;
}